/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2016, 2:11:39 PM
    Author     : ronit01.trn
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #1f1f1f;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

p {
    text-align: left;
}

.button {
    display: inline;
    color: white;
    background-color: #008dde;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #1ac6ff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.button a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

#addLine {
    text-align: center;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}

#addLineForm {
    text-align: left;
    width: 400px;
    margin: auto;
    padding: 10px;
}

#addLineForm span {
    display: block;
}

#content {
    margin: auto;
    width: 960px;
}

.line {
    width: 220px;
    height: 140px;
    margin: 10px;
    padding: 16px;
    color: #fff;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}


.line span {
    display: block;
}

.lineName {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

.removeLine {
    margin-top: 12px;
    text-align: center;
}

.line.idle {
    background-color: #db524d;
}

.line.idle a:hover {
    color: #ff907d;
}

.line.active {   
    background-color: #5eb85e;
}

.line.active a:hover {
    color: #a1ed82;
}

.caller {
    background-color: #008dde;
    -webkit-align-content: center;
}

.line a {
    text-decoration: none;
}

.line a:visited, a:active, a:hover {
    color: #fff;
}

.line a:hover {
    text-decoration: underline;
}

.logoutLblPos{
   float: right;
   position:absolute;
   right:10px;
   top:5px;
}

.username {
    font-size: 200%;
}
